body{
    font-weight: 400;
    color: #818181;
}

h1{
    font-size: 53px;
    color: rgb(204, 204, 204);
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 24px;
    color: #303030;
    font-weight: 600;
}

footer{
    font-size: 10px;
}
